/* * {
    outline: 1px solid red;
} */

html, body, #root {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'Arial', 'Meiryo', sans-serif;
}

#root {
  background-color: lightgray;
  padding: 0 !important;
}

.base {
  width: 100%;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
}

.main {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.footer {
    position: fixed;
    display: flex;
    flex-direction: column;
    background: white;
    width: 100%;
    max-width: 600px;
    bottom: 0;
    padding: 10px 0;
    z-index: 1000;
}


.title {
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 10px;
}

.MarkArea {
  display: flex;
  flex-direction: column;
  /* flex: 1 1 0; */
  /* min-height: 0; */
  border-radius: 5px;
  width: fit-content;
  margin: 2px;
}

.center {
  display: flex;
  justify-content: center;
}

.right {
  display: flex;
  justify-content: right;
}

table.inputTable {
  font-family: 'Courier New', Courier, monospace;
  border-collapse: collapse;
  border: 2px solid darkgray;
  background: white;
}

table.inputTable td,th{
  border-collapse: collapse;
  border: 1px solid black;
  height: 30px;
  min-width: 50px;
}

table.inputTable th{
  font-size: small;
  font-weight: normal;
}

table.inputTable td{
  font-size: large;
  font-weight: bold;
}

.grid16 {
  width: 400px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, auto);
}

.grid16 > .cell {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* 正七角形 */
.heptagon {
  width: 50px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  background: orange;
  clip-path: polygon(
    50% 0%,
    82.07% 19.10%,
    93.15% 54.02%,
    73.90% 84.53%,
    26.10% 84.53%,
    6.85% 54.02%,
    17.93% 19.10%
  );
}

.heptagon:active {
  transform: scale(0.95);
}

.btnRound {
  border-radius: 10px;
  font-size: 20px;
  margin: 2px 0;
}

.back {
  background: white;
  border-radius: 10px;
  padding: 5px;
}

.btnArea {
  display: flex;
  flex-direction: row;
  /* min-height: 0; */
  /* flex: 1 1 0; */
  margin: 0 auto;
  padding: 0 10px;
}

.btnArea_column {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.area {
  height: auto;
  background: white;
  border-radius: 10px;
}


/* まとめるラッパー */
.group {
  /* ラベル寸法（調整値のみ） */
  --label-height: 24px;
  position: relative;
  display: inline-block;
  padding-top: calc(var(--label-height) / 2);
  margin: 5px;
}

.label {
  position: absolute;
  font-size: small;
  left: 15px;
  top: 0;
  height: var(--label-height);
  line-height: var(--label-height);
  padding: 0 10px;
  border: 1px solid black;
  background: white;
  white-space: nowrap;
  box-sizing: border-box;
  z-index: 1;
  user-select: none;
}

.container {
  border-radius: 12px;
  border: 1px solid black;
  background: white;
  padding: 16px 5px 5px 5px;
  min-width: 120px;
  box-sizing: border-box;

  /* ラベルの縦中央にコンテナ上端を合わせるため、半分だけ下げる */
  margin-top: calc(-var(--label-height) / 2);
}

.row {
  display: flex;
  align-items: flex-start;
}

.playerInput {
  font-size: xx-large;
  width: 50px;
  text-align: center;
}

.top-right {
  position: absolute;
  top: 10px;
  right: 10px;
}

.btnCol1, .btnCol2, .btnCol3 {
  display: flex;
  flex-direction: column;
}

.btnCol2 {
  padding-top: 20px;
}

.btnCol3 {
  padding-top: 40px;
}

.shotKindBtns {
  display: flex;
  flex-direction: row;
}

.resultBtns {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.resultBtns .bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.grid2x3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
}

.btnResult {
  border: 2px solid darkgray;
  border-radius: 5px;
  font-size: x-large;
  font-weight: bold;
  width: 50px;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.btnResult:active {
  transform: scale(0.95);
}

table.shotKindTable, table.shotKindTable td {
  font-size: x-small;
  border-collapse: collapse;
  border: 1px solid black;
  user-select: none;
}

table.resultTable, table.resultTable td {
  font-size: x-small;
  border-collapse: collapse;
  border: 1px solid black;
  user-select: none;
}

.btnKind {
  border: 2px solid darkslategray;
  border-radius: 50%;
  font-size: large;
  font-weight: bold;
  width: 50px;
  height: 35px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
}

.btnKind:active {
  transform: scale(0.95);
}

.blue {background: lightblue;}
.green {background: lightgreen;}
.orange {background: lightcoral;}
.gray {background: lightgray;}
.palegreen {background: palegreen;}
.lightpink {background: lightpink;}
.white {background: white;}


.shootArea {
  shape-rendering: crispEdges;
  cursor: pointer;
  stroke: black;
  stroke-width: 1;
  stroke-dasharray: 2,2;
}

.shootArea:active {
  filter: brightness(0.7);
}


.shootAreaText{
  pointer-events: none;
  font-size: 12px;
  user-select: none;
  text-anchor: middle;
  dominant-baseline: middle;
}

.goalOuter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: lightblue;
  padding: 2px 20px 0 20px;
  width: fit-content;
}

.goalPost {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: slategrey;
  padding: 2px 20px 0 20px;
  width: fit-content;
}

.goalInner {
  background: white;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap : 4px;
  padding: 5px 5px 0 5px;
  width: fit-content;
}

.goalPosition {
  margin: 0;
  padding: 2px;
  width: 50px;
}

.goalPosition:active {
  transform: scale(0.95);
}

.colorLW {
  background: lightblue;
}

.colorRW {
  background: lightblue;
}

.colorLB {
  background: lightgreen;
}

.colorRB {
  background: lightgreen;
}

.colorCB {
  background: lightgreen;
}

.colorP {
  background: lightpink;
}

.colorGK {
  background: lightyellow;
}

@keyframes flashHighlight {
  0% {
    background-color: yellow;
    box-shadow: 0 0 10px yellow;
  }
  100% {
    background-color: transparent;
    box-shadow: none;
  }
}

.flash {
  animation: flashHighlight 0.8s ease-out;
}

.halves {
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  width: 70px;
  margin: 1px 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.regular {
  font-size: small;
  height: 30px;
}

.extra {
  font-size: x-small;
  height: 25px;
}

.halves_selected {
  background: yellow;
  font-weight: bold;
}


.btnChangeTeam{
  text-align: center;
  font-size: x-small;
  line-height: 1;
}

.btnChangeTeamIcon{
  font-size: xx-large;
  line-height: 1;
}

.btnConfirm {
    background: lightgreen;
    border: green 3px solid;
    border-radius: 10px;
    padding: 10px;
    font-size: x-large;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 0 10px;
}