.titleTitle {
    font-size: xx-large;
    font-weight: bold;
}



.titleArea {
    background: lightblue;
    padding: 10px 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btnTitle {
    background: lightyellow;
    border: yellow 3px solid;
    border-radius: 10px;
    font-size: xx-large;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.imgArea {
    border-radius: 20px;
    padding: 10px;
    background: white;
    margin-bottom: 20px;
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title-img {
    max-width: 300px;
}

input {
    font-size: x-large;
    margin-bottom: 5px;
}

.team {
    cursor: pointer;
    padding: 10px;
}

.btnSetting {
    position: absolute;
    top: 0;
    right: 0;
    background: lightyellow;
    border: yellow 5px solid;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    font-size: x-large;
    text-align: center;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
}


.selectTeamPopup {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    border-radius: 20px;
    height: auto;
    max-height: 80vh;
    margin: 0;
    background: white;
    border-radius: 5px;
    padding: 10px 30px;
    box-sizing: border-box;
    z-index: 999;
    display: flex;
    flex-direction: column;
}

.selectTeamArea {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    overflow-y: auto;
}


.team-item {
    font-size: normal;
    font-weight: bold;
    color: darkblue;
    background: lightblue;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.team-item:hover {
    background: lightcyan;
}

.team-item:active {
    background: darkcyan;
}

img.team-logo {
    max-width: 80%;
    height: auto;
}

.teamname-title {
    font-size: x-large;
    font-weight: bold;
}

.btnPopupClose {
    font-size: xx-large;
    cursor: pointer;
    user-select: none;
    align-self: flex-end;
    margin-bottom: 5px;
    margin-left: auto;
}